html body {
    background-color: #343a40;
}

.nav-link:hover 
{ color: green !important; }

.carousel {
    margin-top: 30px;
    width: 100%;
}
.carousel-inner {
    height: 400px;
}

.carousel-item {
    height: 400px;
}

.carousel-item > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    align-items: center;
    margin: 0 0;
    padding: 0 0;
}

.display-3 {
    color: white;
}

.card {
    margin: auto;
}

.formularz {
    background-color: white;
    padding: 50px;
}

.btn-1 {
    display: inherit;
    margin: auto;
}

.footer {
    color: white;
    text-align: center;
    padding: 20px;
}

